.app {
  margin: 2rem;
}

input.error {
  border-color: red;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.input-feedback {
  color: red;
  margin-top: .25rem;
}

.text-change:first-letter {
  text-transform: uppercase;
}

.list-item {
  cursor: pointer;
}

.pagination {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

.pagination>.active>a,
.pagination>li>a:hover {
  background-color: #2a6f79;
  border-color: #2a6f797a;
  color: #fff;
}

.pagination>li>a {
  border: 1px solid #2a6f797a;
  padding: 5px 10px;
  cursor: pointer;
  color: #2a6f79;
}